<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }
        .header, .footer {
            background: linear-gradient(45deg, #007BFF, #00C6FF);
            color: #fff;
            text-align: center;
            padding: 15px 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header img {
            width: 40px;
            vertical-align: middle;
            margin-right: 10px;
        }
        .header h1 {
            display: inline;
            font-size: 24px;
            vertical-align: middle;
            margin: 0;
        }
        .header span {
            gap: 10px;
        }
        .header span a {
            text-decoration: none;
        }
        .header span button {
            background-color: #fff;
            color: #007BFF;
            border: none;
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, transform 0.3s;
        }
        .header span button:hover {
            background-color: #0056b3;
            color: #fff;
            transform: scale(1.05);
        }
        .footer p {
            margin: 0;
            font-size: 14px;
        }
        .form-container h2 {
            text-align: center;
            color: #333;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }
        .form-container input, .form-container textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 15px;
        }
        .form-container button {
            background-color: #007BFF;
            width: 100%;

            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, transform 0.3s;
        }
        .form-container button:hover {
            background-color: #0056b3;
            color: #fff;
            transform: scale(1.05);
        }
        .logo-container {
        display: flex;
        align-items: center;
    }
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }
    @media (max-width: 768px) {
            .header, .footer {
                flex-direction: column;
                text-align: center;
            }
            .header span {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5px;
            }
            .header span button {
                width: auto;
                padding: 10px;
                margin-top: 10px;
            }
            .card-container {
                max-width: 100%;
            }
        }
    
        @media (max-width: 480px) {
            .header h1 {
                font-size: 20px;
            }
            .header img {
                width: 30px;
            }
            .card {
                padding: 15px;
            }
            .card h3 {
                font-size: 18px;
            }
            .card p {
                font-size: 14px;
            }
            .header span {
                flex-direction: column;
                gap: 5px;
            }
        }
    </style>
</head>
<body>
    <%- include('./header') %>
    <div class="container">
        <div class="form-container">
            <h2>Edit Blog</h2>
            <form action="/edit/<%- blog[0].id%>" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="<%- blog[0].title%>" required>
                </div>
                <div>
                    <label for="subtitle">Subtitle</label>
                    <input type="text" id="subtitle" name="subtitle" value="<%- blog[0].subTitle%>" required>
                </div>
                <div>
                    <label for="image">Image URL</label>
                    <input type="file" id="image" name="image" >
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea id="description" name="description"  required><%- blog[0].description %></textarea>
                </div>
                <div>
                    <button type="submit">Submit and Edit</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('./footer') %>
</body>
</html>
