<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Blog List</title>
    <!-- importing css file from public/styles/homeStyle.css -->
   <link rel="stylesheet" href="styles/homeStyle.css">
</head>
<body>
  
    <%- include('./header') %>
    <div class="container">
        <div class="card-container">

            <!-- card1 -->
           <% blogs.map((blog) => { %>
               <a href="blogs/<%- blog.id %>">
                   <div class="card">
                       <img src="<%- blog.imageUrl %>" alt="Blog Image"/>
                       <h3>Title: <%- blog.title %></h3>
                       <h5>Subtitle: <%- blog.subTitle %></h5>
                       <p>Description: <%- blog.description %></p>
                   </div>
               </a> 
           <% }) %>
        </div>
    </div>
    <%- include('./footer') %>
</body>
</html>
